<!doctype html>
<html>
  <head>
    <title>Albums</title>
    <link rel="stylesheet" href="style.css">
    <style>
      html {
        background-color: #33363f;
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      input {
        font-size: 32px;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 8px 16px;
        margin-bottom: 16px;
      }
      span {
        color: white;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <main id="main">
      <input id="input" onkeydown="handleKeyDown(event)" />
      <span><%= error %></span>
    </main>
  </body>
  <script>
    const handleKeyDown = e => {
      if (e.key !== "Enter" || !e.currentTarget.value) return;
      const match = encodeURIComponent(e.currentTarget.value);
      window.open(`/get-playlists?match=${match}`, "_self");
    }
  </script>
</html>